name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Inject GitHub Token
        run: |
          sed -i "s/YOUR_GITHUB_TOKEN_HERE/${{ secrets.GH_TOKEN }}/g" src/environments/environment.ts
          sed -i "s/YOUR_GITHUB_TOKEN_HERE/${{ secrets.GH_TOKEN }}/g" src/environments/environment.prod.ts

      - name: Build
        run: npm run build -- --base-href /github-profile/

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist/github-profile-clone/browser
          branch: gh-pages
